.text {
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-decoration: underline;
}
.text .pop {
    position: absolute;
    z-index: 10;
    bottom: -20px;
    padding: 10px 20px;
    box-shadow: 2px;
    visibility: hidden;
    background: yellow;
}